@import './palette.scss';

.element {
  float: left;
  background-color: $elements1;
  color: $color;
  margin: 1px;
  transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .index {
    padding: 4px;
    font-size: 10px;
  }

  .symbol {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }
}
